@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
/* CSS Document */

*{
	margin: 0 auto;
}

html, body {
	width: 100%;
}


/*CSS da Área do Cabeçalho*/

header{
	background: url(../img/imagem1.jpg);
	height: 890px;
	width: 100%;
}
nav{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-bottom: 20px;
	padding-top: 50px;
	width: 100%;
}

.menu{
	align-items: center;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	justify-content: flex-end;
	margin: 0;
	padding-left: 40%;
}

.item-lista{
	color: #FFF;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	height: 20px;
    text-align: center;
    width: 137px;
}

/*CSS da Área do Features*/
.features{
	background-color: #a2ca28;
	display: flex;
	flex-direction: column;
	height: 350px;
	margin: 0;
	width: 100%;
}

.alinhamento1{
	display: flex;
	flex-direction: row;
	padding-top: 6%;
	width: 70%;
}

.titulo-features{
	color: #FFF;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.paragrafo{
	color: #FFF;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
}

/*CSS da Área do Sobre*/
.sobre{
	background-color: #a2ca28;
	display: flex;
	flex-direction: column;
	height: 394px;
	margin: 0;
	width: 100%;
}

.alinhamento2{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-left: 8%;
}

.info-sobre{
	background-color: #fff;
	height: 300px;
	margin: 0;
	padding-top: 94px;
	width: 360px;
}

.imagem-sobre{
	height: 394px;
	margin: 0;
	width: 783px;
}

.titulo-sobre{
	color: #fd6d5a;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.subtitulo-sobre{
	color: #a2ca28;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.paragrafo-sobre{
	color: #656e74;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 40px;
	text-align: center;
}

.leia-mais{
	color: #a2ca28;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	text-align: center;
}

/*CSS da Área do Sobre-Your Body*/
.sobre-body{
	background-color: #a2ca28;
	display: flex;
	flex-direction: column;
	height: 394px;
	margin: 0;
	width: 100%;
}

/*CSS da Área do Sobre-O que fazer*/
.sobre-fazer{
	background-color: #fd634e;
	display: flex;
	justify-content: center;
	height: 100%;
	margin: 0;
	width: 100%;
}

.alinhamento4{
	margin: 0;
	padding-left: 8%;
}

.imagem-fazer{
	height: 100%;
	margin: 0;
	padding-left: 10px;
	width: 1142px;
}

.alinhamento3{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-left: 8px;
}

.info-track{
	background-color: #fff;
	height: 220px;
	margin: 0;
	padding-left: 30px;
	padding-top: 54px;
	width: 355px;
}

.titulo-track{
	color: #fd6d5a;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

.subtitulo-track{
	color: #a2ca28;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

.paragrafo-track{
	color: #656e74;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
	text-align: left;
}

.info-summer{
	background-color: #a2ca28;
	height: 220px;
	margin: 0;
	padding-left: 30px;
	padding-top: 54px;
	width: 730px;
}

.subtitulo-summer{
	color: #fff;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

.paragrafo-summer{
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
	text-align: left;
}
